h1 {
    font-family: sans-serif;
}

h2 {
    font-family: sans-serif;
    margin: 20px;
}

#game-button {
    font-size: 16px;
    background-color: rgb(62, 7, 200);
    transition: background-color 0.3s ease, transform 0.2s ease, color 0.2s ease;
    cursor: pointer;
}

#game-button-coming-soon {
    font-size: 16px;
    background-color: rgb(148, 148, 148);
}

#game-button:hover {
    background-color: rgb(22, 3, 73);
    color: aliceblue;
}




.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

button {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    flex: 0 0 auto;
    text-align: center;
    border-style: solid;
}

html {
    background-color: rgb(24, 139, 156);
}