h1 {
    font-family: sans-serif;
    color: white;
}

h2 {
    font-family: sans-serif;
    margin: 20px;
    color: white;
}

#game-button {
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    transition: background-color 0.3s ease, transform 0.2s ease, color 0.2s ease;
    cursor: pointer;
}

#game-button-coming-soon {
    font-size: 16px;
    background-color: rgb(148, 148, 148);
}

#game-button:hover {
    background-color: rgb(98, 98, 98);
    color: rgb(255, 255, 255);
}

p {
    color: white;
    font-family: sans-serif;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

button {
    width: 200px;
    height: 160px;
    border-radius: 8px;
    flex: 0 0 auto;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(87, 87, 87);
    
}

html {
    background-color: rgb(0, 0, 0);
}